* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #43affc;
}
.container {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}
.header i {
  color: aqua;
  margin: 5px;
  display: none;
}
.geoBtn {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: aqua;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
.header {
  display: flex;
  align-items: center;
}
.titleW {
  color: aqua;
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
.hiddenM {
  margin-top: 5px;
  margin-left: 5px;
}
.separetor {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container,
.separetor::before {
  content: "or";
  color: #ccc;
  font-size: 15px;
  padding: 10px 10px;
  background-color: #fff;
}
#inputCity {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
}
.sreachBtn {
  width: 28%;
  padding: 10px;
  background-color: aqua;
  border: 1px solid aqua;
  color: white;
}
.displayMessage {
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  background-color: aqua;
  padding: 5px 15px;
  border: 1px solid aqua;
  color: white;
  text-align: center;
}

.displayMessageError {
  background-color: red;
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  text-align: center;
}

.weather {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.iconWeather {
  width: 35%;
}

.osvezenje {
  display: flex;

  border-top: 1px solid #ccc;
  width: 100%;
  margin-top: 20px;
}

.left-card {
  width: 48%;
  border-right: 1px solid #ccc;
  display: flex;
  padding: 20px;
}

.right-card {
  width: 48%;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left-card i,
.right-card i {
  color: aqua;
  font-size: 32px;
  margin-right: 10px;
}
.numb {
  padding: 10px;
  font-size: 50px;
}
.descripton {
  padding-bottom: 10px;
  font-size: 18px;
}
