* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #43affc;
}
.container {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
}
.header {
  border-bottom: 1px solid #ccc;
}
.header i {
  color: aqua;
  margin: 5px;
  display: none;
}
.geoBtn {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  background-color: aqua;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
.header {
  display: flex;
  align-items: center;
}
.titleW {
  color: aqua;
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
}
.hiddenM {
  margin-left: 0px;
}
.separetor {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container,
.separetor::before {
  content: "or";
  color: #ccc;
  font-size: 15px;
  padding: 0px 15px;
  background-color: #fff;
}
#inputCity {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
}
.sreachBtn {
  width: 28%;
  padding: 10px;
  background-color: aqua;
  border: 1px solid aqua;
  color: white;
}
.displayMessage {
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  background-color: aqua;
  padding: 0 15px;
  border: 1px solid aqua;
  color: white;
  text-align: center;
}

.displayMessageError {
  background-color: red;
}
